<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title"> Number of clients </h5>
          <p class="card-text display-4"> {{dashBoard?.clientAmount}} </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title"> Number of books </h5>
          <p class="card-text display-4">{{dashBoard?.bookAmount}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title"> Number of loans </h5>
          <p class="card-text display-4">{{dashBoard?.loanAmount}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
