<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Books</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="scrollable">
      <app-info-book
        *ngFor="let book of books"
        [book]="book"
        [showAdd]="true"
        (clickButton)="addBook(book)"
      ></app-info-book>
      <div class="d-flex justify-content-center">
        <pagination
          [boundaryLinks]="true"
          [totalItems]="pagination?.totalItems!"
          [itemsPerPage]="pagination?.itemsPerPage!"
          [maxSize]="10"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        >
        </pagination>
      </div>
    </div>
  </div>
</div>
