<div class="container mt-5">
  <h2>Books</h2>
  <hr />
  <button class="btn btn-sm btn-primary" routerLink="/book/create">
    <i class="fa fa-plus"></i> New Book
  </button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Author</th>
          <th>Publisher</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>
            <button (click)="updateBook(book)" class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>
            {{ book.name }}
          </td>
          <td>
            {{ book.author }}
          </td>
          <td>
            {{ book.publisher }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination?.totalItems!"
      [itemsPerPage]="pagination?.itemsPerPage!"
      [maxSize]="10"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
