<div class="container mt-5">
  <h2>Books</h2>
  <hr />
  <button class="btn btn-sm btn-primary" routerLink="/book/create">
    <i class="fa fa-plus"></i> New Book
  </button>

  <button
    type="button"
    class="btn btn-sm btn-primary ms-2"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic"
  >
    Filter
  </button>

  <div id="collapseBasic" [collapse]="isCollapsed">
    <form [formGroup]="bookForm">
      <div class="row g-3">
        <div class="col-md-4">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Input Book Name"
            formControlName="name"
          />
        </div>
        <div class="col-md-8">
          <label for="author" class="form-label">Author</label>
          <input
            type="text"
            id="author"
            class="form-control"
            placeholder="Input Book Author"
            formControlName="author"
          />
        </div>
        <div class="col-md-6">
          <label for="publisher" class="form-label">Publisher</label>
          <input
            type="text"
            id="publisher"
            class="form-control"
            placeholder="Input Publisher"
            formControlName="publisher"
          />
        </div>
        <div class="col-md-4">
          <label for="yearOfPublication" class="form-label"
            >Year of Publication</label
          >
          <input
            type="date"
            id="yearOfPublication"
            class="form-control"
            placeholder="Input Year of Publication"
            formControlName="yearOfPublication"
          />
        </div>
        <div class="col-md-2">
          <label for="edition" class="form-label">Edition</label>
          <input
            type="text"
            id="edition"
            class="form-control"
            placeholder="Edition"
            formControlName="edition"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-end">
          <button class="btn btn-success" (click)="filter()">Filter</button>
          <button
            class="btn btn-primary ms-2"
            (click)="findBooks(); bookForm.reset()"
          >
            Remove Filter
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Author</th>
          <th>Publisher</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>
            <button (click)="updateBook(book)" class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>
            {{ book.name }}
          </td>
          <td>
            {{ book.author }}
          </td>
          <td>
            {{ book.publisher }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination?.totalItems!"
      [itemsPerPage]="pagination?.itemsPerPage!"
      [maxSize]="10"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
