<div class="card mb-2">
  <div class="card-body">
    <h5>{{ client?.name }}</h5>
    <p>
      <b>CPF: </b> {{ cpfFormater(client?.cpf) }} <br />
      <b>Address: </b> {{ client?.address }}, neighborhood:
      {{ client?.neighborhood }}, number: {{ client?.number }}, city:
      {{ client?.city }} <br />
      <b>Contact: </b> {{ phoneFormater(client?.phoneNumber) }} |
      {{ fixPhoneFormater(client?.fixPhoneNumber) }}
    </p>
    <div class="text-end">
      <button (click)="addOrRemove()" *ngIf="showThrash" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>
      <button (click)="addOrRemove()" *ngIf="showAdd" class="btn btn-success">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
