<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f11ae603-9897-415a-b773-04f38816c198/resourceGroups/bookloan_group/providers/Microsoft.Web/sites/loanbook</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://loanbook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>865434fa-a1e3-4bb7-a704-c8dee7307878</ProjectGuid>
    <PublishUrl>https://loanbook.scm.azurewebsites.net/</PublishUrl>
    <UserName>$loanbook</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>